<html>
    <head>
        <title>Donna's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Dee's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>All is well.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>Drink. It is good for you</p>
        </div>
    </body>
</html>
